**/*.csv
**/*.fasta
**/*.zip
**/*.clstr
**/*.h5
**/*.pkl
**/*.pickle
**/*.tree
**/*.tsv
**/.faa
**/.pyc
**/.ko
**/data/validation/v1
**/data/validation/v2
**/data/validation/v3/fitness
**/data/validation/v3/aaseqs.fa
**/data/validation/v3/metadata
**/data/validation/v3/t_values
**/data/validation/v3/embeddings
**/results/*
.vscode/
**/.ipynb_checkpoints/
**/__pycache__
**/selenobot.egg-info
selenobot-local.cfg
ncbi-blast-2.15.0+
ncbi-blast-2.15.0+-x64-linux.tar.gz