**/*.csv
**/*.fasta
**/*.zip
**/*.clstr
**/*.h5
**/*.pkl
**/*.pickle
**/*.tree
**/*.tsv
**/*.pth
**/.faa
**/.pyc
**/data/**
**/results/*
.vscode/
**/.ipynb_checkpoints/
**/__pycache__
**/selenobot.egg-info
selenobot-local.cfg
ncbi-blast-2.15.0+
ncbi-blast-2.15.0+-x64-linux.tar.gz